<div id="head">
    <ul class="nav nav-pills pull-right">
        <li #if($index == "homepage") class="active" #end><a href="$jokeModule">全部</a></li>
        <li #if($index == "hot") class="active" #end><a href="$jokeModule.setTarget('homepage.vm').addQueryData('recommendType', 2)">热门</a></li>

        <!--如果是管理员，显示-->
        <li #if($index == "addTopic") class="active" #end><a href="$jokeModule.setTarget('addTopic.vm')">投稿</a></li>
        <li #if($index == "material") class="active" #end><a href="$jokeModule.setTarget('picMaterialUpload.vm')">捐献素材</a></li>
        <li #if($index == "review") class="active" #end><a href="$jokeModule.setTarget('jokeReview.vm')">审查</a></li>
        #if($currentLoginUser)
            <li ><div id="user" class="btn-group">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">$currentLoginUser.nickName#if(!$!currentLoginUser.email)<span class="badge badge-important">1</span>#end<span class="caret">
						</span></a>
                <ul class="dropdown-menu">
                    #if(!$!currentLoginUser.email)
                        <li><a href="$jokeModule.setTarget('completeUserInfo.vm')">完善个人资料<span class="badge badge-important">1</span></a></li>
                    #end
                    <li><a href="$jokeModule.setTarget('userCreation.vm').addQueryData('userId', $!currentLoginUser.id)">个人中心</a></li>
                    <li><a href="$jokeModule/logout?action=user_action&event_submit_do_logout=1">退出</a></li>
                </ul>
            </div></li>
        #else
            <li><a href="#loginmodal" data-toggle="modal">登陆</a></li>
        #end
    </ul>
    <h3 id="logo"><a href="/">可乐皮</a></h3>
</div>
<div id="loginmodal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>请使用以下账号登陆我们网站</h3>
    </div>
    <div class="modal-body loginpad">
        <a href="$jokeModule/login?action=sina_weibo_action&event_submit_do_goto_login=1">
            <img src="$staticsContent.getURI('images/loginbtn_weibo.png')"></a>
        <a class="margin-left-20" href="$jokeModule/login?action=qq_action&event_submit_do_goto_login=1"><img src="$staticsContent.getURI('images/loginbtn_qq.png')"></a>
    </div>
</div>