<div id="userinfo" class="well media">
    <a class="pull-left">
        <img src="$!imageTool.getURI($!userDO.faceImageUrl, '100x100.jpg')" style="width:60px;"/>
    </a>

    <div class="media-body">
        <h4>$userDO.nickName
            #if ($userDO.homepage != "" && "$!userDO.homepage" != "")
                <a href="$!userDO.homepage" target="_blank">
                #if($userDO.sourceType==1)
                <img src="$staticsContent.getURI('images/weibo_logo.png')"/>
                #elseif($userDO.sourceType==2)
                <img src="http://mat1.gtimg.com/www/mb/favicon.ico" style="width:18px;height:18px;"/>
                #end</a>
            #end
            #if ($currentLoginUser.id == $userDO.id)
                <a href="$jokeModule.setTarget('completeUserInfo.vm')" class="btn">个人设置</a>
            #end

        </h4>
        #if($userDO.signature != "" && "$!userDO.signature" != "")
            $!userDO.signature
        #else
            这家伙太懒，连个性签名都不填
        #end

    </div>
</div>