<?xml version="1.0" encoding="GBK"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://www.springframework.org/schema/beans"
xmlns:tx="http://www.springframework.org/schema/tx"
xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="
   http://www.springframework.org/schema/beans http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/tx 
   http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
   http://www.springframework.org/schema/aop 
   http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
   default-autowire="byName">
	 
    <bean id="tasteDS" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">

		<property name="driverClass">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="jdbcUrl">
			<value>jdbc:mysql://localhost:3306/joke?characterEncoding=utf-8</value>
		</property>
		<property name="user">
			<value>joke</value>
		</property>
		<property name="password">
			<value>l19860224</value>
		</property>
    	
        <property name="checkoutTimeout" value="5000"/>
        <property name="initialPoolSize" value="10"/>
        <property name="minPoolSize" value="10"/>
        <property name="maxPoolSize" value="30"/>
        <property name="maxIdleTime" value="25200"/>
        <property name="acquireIncrement" value="5"/>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource">
			<ref local="tasteDS" />
		</property>
	</bean>

	<bean id="transactionTemplate"
		class="org.springframework.transaction.support.TransactionTemplate">
		<property name="transactionManager">
			<ref local="transactionManager" />
		</property>
	</bean>

<!-- 
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation">
			<value>classpath:sqlmap-config.xml</value>
		</property>
		<property name="dataSource">
			<ref local="tasteDS" />
		</property>
	</bean>

	<bean id="sqlMapClientTemplate" class="org.springframework.orm.ibatis.SqlMapClientTemplate">
		<property name="sqlMapClient">
			<ref local="sqlMapClient" />
		</property>
	</bean>
 -->
 
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="tasteDS" />

		<property name="packagesToScan">
			<list>
				<value>com.kelepi.dal.dataobject</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQLDialect
				hibernate.jdbc.batch_size=25
				hibernate.jdbc.fetch_size=50
      		</value>
		</property>
		
		<!-- 8小时超时
						hibernate.show_sql=true
						hibernate.c3p0.acquire_increment=2
				hibernate.c3p0.idle_test_period=3600
				hibernate.c3p0.timeout=3600
				hibernate.c3p0.validate=true
	    <property name="connection.autoReconnect">
	    	<value>true</value>
	    </property>
        <property name="connection.autoReconnectForPools">
        	<value>true</value>
        </property>
        <property name="connection.is-connection-validation-required">
        	<value>true</value>
        </property>
         -->
		<!-- 
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQLDialect
				hibernate.show_sql=true
      		</value>
		</property>
		 -->
	</bean>

	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- annotation方式管理事物 -->
	<tx:annotation-driven transaction-manager="txManager"/>
	
	<tx:advice id="txAdvice" transaction-manager="txManager">
	  <tx:attributes>
	    <tx:method name="get*" read-only="true"/>
	    <tx:method name="*"/>
	  </tx:attributes>
  	</tx:advice>
  
	<aop:config>
	  <aop:pointcut id="hibernateDAO" expression="execution(public * com.kelepi.dal.dao.hibernate.*.*(..))"/>
	  <aop:advisor advice-ref="txAdvice" pointcut-ref="hibernateDAO"/>
	</aop:config>
  
</beans>