<div class="content">
    <div class="right-slider pull-right">

    </div>
    <ul>
        <li class="media"><div class="avatar pull-left"><img src="$!imageTool.getURI($!userDO.faceImageUrl, 'w100.jpg')"/></div>
            <div class="joke-details media-body">
                <h3>$!jokeDO.title</h3>
                <img src="$upyunImageServer.getURI($!jokeDO.contentImageUrl)"/>

                <div class="dig">
                    <input type="hidden" value="$jokeDO.id" />
                    <input type="hidden" value="$!jokeDO.topSize" />
                    <input type="hidden" value="$!jokeDO.downSize" />
                    <a class="btn btn-success #if(!$positionJokeList.contains($jokeDO.id)) digbtn #else disabled #end pull-left" title="喜欢" data-id="$jokeDO.id"><i class="icon-thumbs-up icon-white"></i><span>$!jokeDO.topSize</span></a>
                    <a class="btn btn-inverse #if(!$positionJokeList.contains($jokeDO.id)) digbtn #else disabled #end pull-left" data-id="$jokeDO.id"><i class="icon-thumbs-down icon-white"></i><span>$!jokeDO.downSize</span></a>


                    <div class="share pull-left">分享到：</div>
                    <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare"
                         data="{'desc':'','text':'$!jokeDO.title','comment':'','url':'','pic':'$upyunImageServer.getURI($!jokeDO.contentImageUrl)'}">
                        <a class="bds_sqq"></a>
                        <a class="bds_qzone"></a>
                        <a class="bds_tsina"></a>
                    </div>
                </div>

                <div class="bg_white">
                    <h5>喜欢过的人：</h5>
                    <div class="likepeople">
                        #foreach($topUserDO in $topUserDOs)
                            <a href="#"><img src="$!imageTool.getURI($!topUserDO.faceImageUrl, 'w100.jpg')"></a>
                        #end
                    </div>
                </div>
            </div>
        </li>
        <div class="pager">
            <a class="btn btn-info pull-left" href="#">上一个</a>
            <a class="btn btn-primary pull-right" href="#">下一个</a>
        </div>
    </ul>
#*    <div class="comment bg_white">
        <h4>来句评论呗，评论多内涵！</h4>
        <form  action="">
            <textarea row="3" class="input-xxlarge"></textarea>
            <button type="submit" class="btn">提交</button>
        </form>
        <div class="media">
            <a class="pull-left" href="#">
                <img src="" class="media-object">
            </a>
            <div class="media-body">
                <h5 class="media-heading">谢谢的微笑</h5>
                我的评论内容也不会太长的，这是肯定的撒
            </div>
        </div>
    </div>*#


</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;mini=1&amp;uid=6466560" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
    document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
<script type="text/javascript" src="$staticsContent.getURI('js/front/homepage.js')?t=3" ></script>