<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
$rundata.setLayoutEnabled(false)
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>可乐皮生成器-原创笑话社区，内涵笑话，基情无限,腐得有腔调</title>
    <meta name="keywords" content="内涵笑话 夫妻笑话 段子">
    <meta name="description" content="可乐皮-原创笑话社区，才子佳人多，所以内涵深、基情无限、腐得有腔调">
    <link rel="stylesheet" type="text/css" href="$staticsContent.getURI('css/bootstrap.min.css')">
    <link rel="stylesheet" type="text/css" href="$staticsContent.getURI('css/kelepi.css')">
</head>
<body>
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        #foreach($category in $categorys)
            <li #if($category.id == $picMaterialQuery.seriesId) class="active" #end>
            <a href="$jokeModule.setTarget('picMaterialList.vm').addQueryData('seriesId', $!category.id)" data='0' class="sucai_class">$!category.name</a>
            </li>
        #end
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="qiushi">
            <div class="rolers">
                #foreach($roleCategoryDO in $roleCategoryDOs)
                    <a class="roler active" href="$jokeModule.setTarget("picMaterialList").addQueryData("roleId", $roleCategoryDO.id).addQueryData("seriesId", $picMaterialQuery.seriesId)" data="">$roleCategoryDO.name</a>
                #end
            </div>
            <div class="rolerimgs">
                #foreach($picMaterialDO in $picMaterialDOs)
                    <img src="$picMaterialDO.imageUrl" data="$picMaterialDO.imageUrl" class="img-polaroid rolerimg" />
                #end
            </div>
            <div class="pagination pagination-small pagination-centered">
                <ul>
                    #if ($picMaterialQuery.totalPage > 1)
                        <li><a href="$jokeModule.setTarget('picMaterialList.vm').addQueryData('seriesId', $picMaterialQuery.seriesId).addQueryData('currentPage',2)"  class="sucai_page" data="img">下一页</a></li>
                    #end
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>