<div class="content">
    $control.setTemplate("userHead.vm").setParameter("userId", $jokeInteractionRecordQuery.userId)
    <div class="right-slider pull-right">
    </div>
    <div>
        <ul class="nav nav-tabs">
            <li>
                <a  href="$jokeModule.setTarget('userCreation.vm').addQueryData('userId', $!jokeInteractionRecordQuery.userId)">创作</a>
            </li>
            <li class="active"><a >赞过</a></li>
        </ul>
        #if($jokeDOs.size() > 0)
            <ul class="no-margin">
                #foreach($jokeDO in $jokeDOs)
                    <li>
                        #if($jokeDO.viewPermissions == 2 && !$currentLoginUser)
                            <div class="joke-details clearfix">
                                <h3><a href="$jokeModule.setTarget('jokeDetail.vm').addQueryData('jokeId', $jokeDO.id)">$!jokeDO.title</a></h3>
                                <div class="needlogin">
                                    <h4>此图片不适合在大众场所浏览<br />
                                        请登录后浏览</h4>
                                    <div class="text-center">
                                        <a href="$jokeModule/login?action=sina_weibo_action&event_submit_do_goto_login=1">
                                            <img src="$staticsContent.getURI('images/loginbtn_weibo.png')"></a>
                                        <a class="margin-left-20" href="$jokeModule/login?action=qq_action&event_submit_do_goto_login=1">
                                            <img src="$staticsContent.getURI('images/loginbtn_qq.png')"></a>
                                    </div>
                                </div>
                            </div>
                        #else
                            <div class="joke-details clearfix">
                                <h3><a href="$jokeModule.setTarget('jokeDetail.vm').addQueryData('jokeId', $jokeDO.id)">$!jokeDO.title</a></h3>
                                <img src="$upyunImageServer.getURI($!jokeDO.contentImageUrl)!w460.jpg"/>

                                <div class="dig">
                                    <input type="hidden" value="$jokeDO.id" />
                                    <input type="hidden" value="$!jokeDO.topSize" />
                                    <input type="hidden" value="$!jokeDO.downSize" />
                                    <a class="btn btn-success #if(!$positionJokeList.contains($jokeDO.id)) digbtn #else disabled #end pull-left" title="喜欢" data-id="$jokeDO.id"><i class="icon-thumbs-up icon-white"></i><span>$!jokeDO.topSize</span></a>
                                    <a class="btn btn-inverse #if(!$positionJokeList.contains($jokeDO.id)) digbtn #else disabled #end pull-left" data-id="$jokeDO.id"><i class="icon-thumbs-down icon-white"></i><span>$!jokeDO.downSize</span></a>


                                    <div class="share pull-left">分享到：</div>
                                    <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare"
                                         data="{'desc':'','text':'$!jokeDO.title','comment':'','url':'$jokeModule.setTarget('jokeDetail.vm').addQueryData('jokeId', $!jokeDO.id)','pic':'$upyunImageServer.getURI($!jokeDO.contentImageUrl)'}">
                                        <a class="bds_sqq"></a>
                                        <a class="bds_qzone"></a>
                                        <a class="bds_tsina"></a>
                                    </div>
                                </div>
                            </div>
                        #end
                    </li>
                #end
            </ul>
        #else
            <ul class="no-margin">
                <li>
                    <div class="joke-details clearfix">
                        <h4 class="alert margin-left-20">：（  TA没有赞过一张图片</h4>
                    </div>
                </li>

            </ul>
        #end
    </div>

</div>
#if($jokeDOs.size() > 0)
    $control.setTemplate("pageChange.vm").setParameter('query',$jokeInteractionRecordQuery)
#end

<script type="text/javascript" id="bdshare_js" data="type=tools&amp;mini=1&amp;uid=6466560" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
    document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
<script type="text/javascript" src="$staticsContent.getURI('js/front/homepage.js')?t=3" ></script>